* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Light.woff') format('woff'),
       url('../fonts/SourceSansPro-Light.ttf') format('ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Regular.woff') format('woff'),
       url('../fonts/SourceSansPro-Regular.ttf') format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
       url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
       url('../fonts/SourceSansPro-SemiBold.ttf') format('ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Bold.woff') format('woff'),
       url('../fonts/SourceSansPro-Bold.ttf') format('ttf');
  font-weight: 700;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: var(--main-dark);
  font-size: 14px;
  padding-top: 87px;
  position: relative;

  @media screen and (min-width: 890px){
    background-color: #EAF5F9;
    &:after{
      position: absolute;
      content: "";
      width: 100vw;
      height: 1105px;
      top: -176px;
      left: 0;
      transform: translateX(-50%);
      z-index: -1;
      clip-path: polygon(0 46%, 100% 0, 100% 54%, 0% 100%);
      background: linear-gradient(67.29deg, #9043F2 2.6%, #87DBFF 97.97%);
      border-radius: 30px;
    }
    &:before{
      position: absolute;
      content: "";
      width: 100vw;
      height: 1105px;
      top: -194px;
      left: 40%;
      transform: translateX(50%);
      z-index: -1;
      clip-path: polygon(0 46%, 100% 0, 100% 54%, 0% 100%);
      background: linear-gradient(67.29deg, #EFF243 2.6%, #F06DB4 97.97%);
      border-radius: 30px;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

.center {
  padding-left: calc(50vw - 125px);
  padding-right: calc(50vw - 125px);


  @media screen and (min-width: 520px) {
    padding-left: calc(50vw - 250px);
    padding-right: calc(50vw - 250px);
  }
  @media screen and (min-width: 767px) {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }
  @media screen and (min-width: 890px) {
    padding-left: calc(50vw - 420px);
    padding-right: calc(50vw - 420px);
  }
  @media screen and (min-width: 1250px) {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
  }
  @media screen and (min-width: 1400px) {
    padding-left: calc(50vw - 675px);
    padding-right: calc(50vw - 675px);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sections {
  @media screen and (min-width: 890px){
    position: relative;
    background-color: #ffffff;
    border-radius: 30px;
    padding-top: 67px;
    padding-bottom: 67px;
  }
}



